#s-454b26e2-0d6f-45c6-8080-b0b00967975b #s-Desktop_HD {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-454b26e2-0d6f-45c6-8080-b0b00967975b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-454b26e2-0d6f-45c6-8080-b0b00967975b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}