#s-454b26e2-0d6f-45c6-8080-b0b00967975b #s-Desktop_HD {
  -ms-transform: rotate(0.0deg);
}
#s-454b26e2-0d6f-45c6-8080-b0b00967975b #s-Button_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 49px;
  width: 106px;
  -ms-transform: rotate(0.0deg);
}
#s-454b26e2-0d6f-45c6-8080-b0b00967975b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}