#s-d031fe78-5173-4b71-aba4-109a18bce135 #s-Desktop_HD_Copy {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d031fe78-5173-4b71-aba4-109a18bce135 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}